@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
    font-family: Pretendard;
}

.avatar-sm {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.jumbotron {
    background-image: url("/resources/img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 2rem;
    margin-top: 1.5rem;
}